<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangde.collection.mapper.CaseAssignMapper">

	<!-- 返回类型 -->
	<resultMap type="com.kangde.collection.model.CaseAssignModel"
		id="model" />
	<!-- 保存 -->
	<insert id="save">
		insert into case_assign (id,
		case_id, case_assigned_id,case_assigned_name,
		case_assign_id,case_assign_name,case_assign_time
		)
		values (#{id},
		#{caseId},
		#{caseAssignedId},
		#{caseAssignedName},
		#{caseAssignId},
		#{caseAssignName},
		#{caseAssignTime}
		)
	</insert>
</mapper>