<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangde.collection.mapper.CensusRegisterMapper" >
  <resultMap id="model" type="com.kangde.collection.model.CensusRegisterModel" />
  
  <sql id="Column_List" >
    id, case_apply_id, cr_address, address, married, mate, culture, career, family_phone, 
    mobile, relation_1, personnel_1, case_num_1, relation_2, personnel_2, case_num_2, 
    create_time, create_emp_id, status, remark
  </sql>
  
  <select id="query" resultMap="model" >
    select 
    <include refid="Column_List" />
    from census_register
    where 1=1
    <!-- 名称检索 -->
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(params.batchCode)">
			and batch_code like CONCAT('%','${params.batchCode}','%' )
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(params.entrustId)">
			and entrust_id like CONCAT('%','${params.entrustId}','%' )
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(params.collectionId)">
			and collection_id like CONCAT('%','${params.collectionId}','%' )
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(params.state)">
			and case_batch.state like CONCAT('%','${params.state}','%' )
		</if>
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(params.typeId)">
			and type_id like CONCAT('%','${params.typeId}','%' )
		</if>
	
		<if test="@org.apache.commons.lang.StringUtils@isNotBlank(params.beginDateEnd)">
			and begin_date BETWEEN '${params.beginDateStart}' AND'${params.beginDateEnd}'
		</if>
		<!-- 排序 -->
		<choose>
			<when test="_parameter.hasOrder()">
				order by ${sort}
				${order}
			</when>
			<otherwise>
				order by create_time
				desc
			</otherwise>
		</choose>
  </select>
  
   <select id="findById" resultMap="model" parameterType="java.lang.String" >
    select 
    <include refid="Column_List" />
    from census_register
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="findByCaseApplyId" resultMap="model" parameterType="java.lang.String" >
    select 
    <include refid="Column_List" />
    from census_register
    where case_apply_id= #{caseApplyId,jdbcType=VARCHAR}
  </select>
  
  <insert id="save" >
    insert into census_register
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="caseApplyId != null" >
        case_apply_id,
      </if>
      <if test="crAddress != null" >
        cr_address,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="married != null" >
        married,
      </if>
      <if test="mate != null" >
        mate,
      </if>
      <if test="culture != null" >
        culture,
      </if>
      <if test="career != null" >
        career,
      </if>
      <if test="familyPhone != null" >
        family_phone,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="relation1 != null" >
        relation_1,
      </if>
      <if test="personnel1 != null" >
        personnel_1,
      </if>
      <if test="caseNum1 != null" >
        case_num_1,
      </if>
      <if test="relation2 != null" >
        relation_2,
      </if>
      <if test="personnel2 != null" >
        personnel_2,
      </if>
      <if test="caseNum2 != null" >
        case_num_2,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createEmpId != null" >
        create_emp_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="caseApplyId != null" >
        #{caseApplyId},
      </if>
      <if test="crAddress != null" >
        #{crAddress},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="married != null" >
        #{married},
      </if>
      <if test="mate != null" >
        #{mate},
      </if>
      <if test="culture != null" >
        #{culture},
      </if>
      <if test="career != null" >
        #{career},
      </if>
      <if test="familyPhone != null" >
        #{familyPhone},
      </if>
      <if test="mobile != null" >
        #{mobile},
      </if>
      <if test="relation1 != null" >
        #{relation1},
      </if>
      <if test="personnel1 != null" >
        #{personnel1},
      </if>
      <if test="caseNum1 != null" >
        #{caseNum1},
      </if>
      <if test="relation2 != null" >
        #{relation2},
      </if>
      <if test="personnel2 != null" >
        #{personnel2},
      </if>
      <if test="caseNum2 != null" >
        #{caseNum2},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createEmpId != null" >
        #{createEmpId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
 
  <update id="update">
    update census_register
    <set >
      <if test="caseApplyId != null" >
        case_apply_id = #{caseApplyId},
      </if>
      <if test="crAddress != null" >
        cr_address = #{crAddress},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="married != null" >
        married = #{married},
      </if>
      <if test="mate != null" >
        mate = #{mate},
      </if>
      <if test="culture != null" >
        culture = #{culture},
      </if>
      <if test="career != null" >
        career = #{career},
      </if>
      <if test="familyPhone != null" >
        family_phone = #{familyPhone},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="relation1 != null" >
        relation_1 = #{relation1},
      </if>
      <if test="personnel1 != null" >
        personnel_1 = #{personnel1},
      </if>
      <if test="caseNum1 != null" >
        case_num_1 = #{caseNum1},
      </if>
      <if test="relation2 != null" >
        relation_2 = #{relation2},
      </if>
      <if test="personnel2 != null" >
        personnel_2 = #{personnel2},
      </if>
      <if test="caseNum2 != null" >
        case_num_2 = #{caseNum2},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createEmpId != null" >
        create_emp_id = #{createEmpId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    where id = #{id}
  </update>
 
  <update id="updateForStatus" >
		update
		census_register
		set
		modify_time=#{modifyTime},
		status=#{status},
		where id = #{id}
	</update>
	
</mapper>