<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangde.collection.mapper.HolidayModelMapper" >
  <resultMap id="BaseResultMap" type="com.kangde.collection.model.HolidayModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="holiday" property="holiday" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, holiday
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from holiday
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDay" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from holiday
    where holiday = #{holiday,jdbcType=VARCHAR}
  </select>
  <select id="queryAll" resultMap="BaseResultMap">
    select  * from holiday order by holiday
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from holiday
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteAll" >
    delete from holiday
  </delete>
  <insert id="insert" parameterType="com.kangde.collection.model.HolidayModel" >
    insert into holiday (id, holiday)
    values (#{id,jdbcType=INTEGER}, #{holiday,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kangde.collection.model.HolidayModel" >
    insert into holiday
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="holiday != null" >
        holiday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="holiday != null" >
        #{holiday,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kangde.collection.model.HolidayModel" >
    update holiday
    <set >
      <if test="holiday != null" >
        holiday = #{holiday,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kangde.collection.model.HolidayModel" >
    update holiday
    set holiday = #{holiday,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>