<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangde.collection.mapper.HurryRecordMapper" >
 
  <resultMap id="model" type="com.kangde.collection.model.HurryRecordModel" />
  
  <sql id="list" >
    id, hur_cat, case_id, content, hurry_record_id, create_emp_id, operator_name, create_time
  </sql>
  
  <select id="query" resultMap="model">
    select 
    <include refid="list" />
    from hurry_record
    where 1=1
    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(params.caseId)">
			and case_id =  #{params.caseId}
	</if>
    <if test="@org.apache.commons.lang.StringUtils@isNotBlank(params.hurCat)">
			and hur_cat =  #{params.hurCat}
	</if>
	order by create_time desc
  </select>
  
  <insert id="save">
    insert into hurry_record (id, hur_cat, case_id, 
      content, hurry_record_id, create_emp_id, operator_name,
      create_time)
    values(#{id}, #{hurCat}, #{caseId}, 
      #{content}, #{hurryRecordId}, #{createEmpId}, #{operatorName}, 
      #{createTime})
  </insert>
  
</mapper>